:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: #fff;
  --gray: #707070;
  --success: #049051;
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}
@font-face {
  font-family: "font-gothan";
  src:url("../../fonts/GothamBold.ttf");
}
.img-logo{
  width: 25%;
}
.img-inicio{
  position: relative
}
.img-fondo{
  width: 100px;
  margin-left: 10px;
  height: 295px;
  background: #049051;
  position: absolute;
  margin-top: -10px
}
.titulo-principal{
  font-family:"font-gothan";
  font-size: 20%;
  letter-spacing: 8px;
  text-align: center;
  font-weight: var(--weight1);
  color: var(--varyDarkBlue);
  font-size: 1rem;
}
.titulo-principal.sub{
  padding-bottom: 12px;
  border-bottom-style: solid;
  border-bottom-width: 3.1px;
}

body {
  font-family: "Karla", sans-serif;
  background-color: var(--veryLightGray);
  min-height: 100vh; 
}
.img-arte{
  background-image:url('../../img/fondoprincipal.png');
  background-position: center;
  background-repeat: repeat;
  background-size: 60%;
}
.login-card{
  background-color:var(--veryLightGray);
  border: none !important;
}
.login-card .login-btn:hover{
  border: 1px solid var(--gray) !important;
  background-color: transparent !important;
  color: var(--gray) !important;
}
.swal2-icon.swal2-success .swal2-success-ring {
  border: .25em solid var(--success) !important;
}
.swal2-icon.swal2-success [class^=swal2-success-line]{
  background-color: var(--success) !important;
}
.login-card .forgot-password-link{
  font-weight: bold !important;
}
.login-card-description{
  color: var(--success) !important;
}
.login-card-description{
  font-weight: bold !important;
}
.brand-wrapper .logo {
  height: 110px !important;
  background: var(--success) !important;
  border-radius: 20px !important;
  padding:12px !important;
}


@media only screen and (max-width: 767px) {
  .brand-wrapper{
    display: block;
  }
  .login-card-description {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .brand-wrapper{
    display: none;
  }
}
.dropdown-item.active, .dropdown-item:active {
  color: var(--veryLightGray);;
  text-decoration: none;
  background-color: var(--success);
}
.dropdown-item:hover {
  color: var(--veryLightGray); !important;
  text-decoration: none;
  background-color: var(--success);
}
.login-card .form-control{
  font-size: 14px !important;
}
.bs-popover-bottom{
  top: -13px !important;
  left: -16px !important;
}

.popover-header{
  font-weight: bold !important;
  color: var(--success) !important;

}
.popover-body p{
  font-weight: 600 !important;
}
.label-login{
  color: #919aa3;
    font-weight: bold;
}

    .brand-wrapper {
      margin-bottom: 19px; 
    }
    .brand-wrapper .logo {
      height: 37px; 
    }
    
    .login-card-img {
      border-radius: 0;
      position: absolute;
      width: 30%;
      /*height: 96%;*/
      -o-object-fit: cover;
        object-fit: cover; 
    }
    @media (max-width: 422px) {
      .login-card .card-body {
        padding: 35px 24px; 
      } 
    }
    .login-card-description {
      font-size: 22px;
      color: #000;
      font-weight: normal;
      margin-bottom: 23px; }
    .login-card form {
      max-width: 326px; 
    }
  .login-card .form-control {
    border: 1px solid #d5dae2;
    padding: 15px 25px;
    margin-bottom: 20px;
    min-height: 45px;
    font-size: 13px;
    font-weight: normal;
    border-radius: 20px;
    /*line-height: 15;*/
  }
    /*.login-card .form-control::-webkit-input-placeholder {
      color: #919aa3; }
    .login-card .form-control::-moz-placeholder {
      color: #919aa3; }
    .login-card .form-control:-ms-input-placeholder {
      color: #919aa3; }
    .login-card .form-control::-ms-input-placeholder {
      color: #919aa3; }
    .login-card .form-control::placeholder {
      color: #919aa3; }*/
    .login-card .login-btn {
      padding: 13px 20px 12px;
      background-color: #707070;
      border-radius: 20px;
      font-size: 17px;
      font-weight: bold;
      line-height: 20px;
      color: var(--veryLightGray);;
      margin-bottom: 24px; 
    }
    .login-card .login-btn:hover {
      border: 1px solid #000;
      background-color: transparent;
      color: #000; 
    }
    .login-card .forgot-password-link {
      font-size: 14px;
      color: #919aa3;
      margin-bottom: 12px; 
    }
    .login-card-footer-text {
      font-size: 16px;
      color: #0d2366;
      margin-bottom: 60px; 
    }
    @media (max-width: 767px) 
    {
      .login-card-footer-text {
        margin-bottom: 24px; } 
    }
    .login-card-footer-nav a {
      font-size: 14px;
      color: #919aa3; 
    }

.form-control:focus{
  box-shadow: none !important;
}
.btn.focus, .btn:focus{
  box-shadow: none !important;
}