
@font-face {
    font-family: "font-gothan";
    src:url("../../fonts/GothamBold.ttf");
}
.titulo-principal{
    font-family:"font-gothan";
    font-size: 20px;
}

table.dataTable.dataTable_width_auto {
    width: auto;
  }

.tbl_all th{
    background: var(--fondo_principal);
    color: var(--texto_principal);
}
.tbl_all.dataTable  td:nth-child(1),
.tbl_all.dataTable  td:nth-child(2),
.tbl_all.dataTable  td:nth-child(3){
    background: lightgrey;
}
.tbl_all.dataTable thead tr>.dtfc-fixed-left, table.dataTable thead tr>.dtfc-fixed-right{
    z-index: 1;
    background-color:  var(--fondo_principal);
}
th, td { white-space: nowrap; }
div.dataTables_wrapper {
    margin: 0 auto;
}
.table td, .table th {
    padding: 0.2rem;
}
table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
    bottom: 0.28rem;
}
div.dataTables_wrapper div.dataTables_filter label{
    font-weight: bold;
}
.form-control:focus {
    border-color:#ced4da;
}

.colum-filter{
    z-index: 99;
}