:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray:  #fff;
    --gray: #707070;
    --success: #049051;
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

@font-face {
    font-family: "font-gothan";
    src:url("../../fonts/GothamBold.ttf");
}
.titulo-principal{
    font-family:"font-gothan";
    font-size: 20px;
}
.titulo-principal{
    font-family:"font-gothan";
    font-size: 20%;
    letter-spacing: 8px;
    text-align: center;
    font-weight: var(--weight1);
    color: var(--varyDarkBlue);
    font-size: 1rem;
}
.titulo-principal.sub{
    padding-bottom: 12px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
}
body {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--veryLightGray) !important;
}
.titulos {
    text-align: center;
    line-height: 0.8;
    margin-bottom: 2%;
    margin-top: 3%;
}

.titulos p {
    margin: 0 auto;
    line-height: 2;
    color: var(--grayishBlue);
}


.card{
    
    background-color:#fff;
    border: none !important;
}
.img-card{
    max-width: 300%;
}

.col-sincontainer{
    padding: 0 !important;  
}
.card{
    cursor: pointer;
}
.img-logo{
    max-width: 20%;
}
.text-corta{
    font-family:"font-gothan";
    text-transform: uppercase;
}

@media only screen and (max-width: 450px)  {
    .txt-inicio{
        margin-top: -3rem;
        text-align: center;
        font-size: 8px !important;
    }
}
@media only screen and (min-width: 451px)  and (max-width: 575px){
    .txt-inicio{
        margin-top: -4rem;
        text-align: center;
        font-size: 10px !important;
    }
}
@media only screen and (min-width: 575px)  and (max-width: 767px){
    .txt-inicio{
        margin-top: -5.5rem;
        text-align: center;
        font-size: 12px !important;
    }
}
@media only screen and (min-width: 767px)  and (max-width: 990px){
    .txt-inicio{
        margin-top: -3.5rem;
        text-align: center;
        font-size: 12px !important;
    }
}
@media only screen and (min-width: 990px)  and (max-width: 1200px){
    .txt-inicio{
        margin-top: -4.5rem;
        text-align: center;
        font-size: 12px !important;
    }
}
@media only screen and (min-width: 1200px){
    .txt-inicio{
        margin-top: -5.5rem;
        text-align: center;
        font-size: 14px !important;
    }
}