/*VARIABLES*/
:root {
    --fondo_principal: rgb(18, 146, 73) !important;
    --texto_principal: #ffffff !important;
    --texto_secundario: #343a40 !important;
    --fondo_secundario: rgba(0,0,0,.1) !important;
    --error_color: #f27474 !important;
}

/* MODIFICACION ADMIN LTE */ 
.navbar-success {
    background-color: var(--fondo_principal); 
}
.navbar-nav .nav-link{
    color:var(--texto_principal); 
}
.breadcrumb-item {
    color:var(--fondo_principal);
}
.breadcrumb-item a{
    color:var(--fondo_principal);
}
.breadcrumb-item.active a{
    font-weight: bold;
}
.layout-navbar-fixed .wrapper .sidebar-dark-primary .brand-link:not([class*=navbar]){
    background:var(--fondo_principal); 
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active{
    background-color:var(--fondo_principal); 
}
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:focus, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:hover{
    background: var(--fondo_secundario);
    color: var(--fondo_principal);
}
.nav-pills .nav-link:not(.active):hover {
    color:var(--fondo_principal);
}
[class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link:not(.active), [class*=sidebar-dark-] .nav-sidebar>.nav-item:hover>.nav-link:not(.active), [class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link:not(.active):focus{
    background: var(--fondo_secundario);
    color: var(--fondo_principal);
}
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link{
    color: var(--texto_secundario); 
}
[class*=sidebar-dark-] .sidebar a{
    color: var(--texto_secundario); 
}
[class*=sidebar-dark] .brand-link{
    border-bottom:none;
}
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:focus, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:hover {
    background: var(--fondo_secundario);
}

/*a:not([href]):hover{
    color:  var(--texto_principal); 
}*/
.card-primary.card-outline-tabs>.card-header a.active{
    border-top: 3px solid 
}
.page-item.active .page-link{
    background-color: var(--fondo_principal); 
    border-color: var(--fondo_principal); 
}
/*--------------------------*/

/* Bostrap customizado */ 

.btn-outline-success:hover {
    background-color: var(--fondo_principal) !important;
    border-color: var(--fondo_principal) !important;
}
.btn-outline-success{
    border-color: var(--fondo_principal) !important;
}
.btn-success{
    background-color: var(--fondo_principal) !important;
}
/*-------------------------*/

/* AdminLTE customizado */
.daterangepicker td.active, .daterangepicker td.active:hover{
    background-color:  var(--fondo_principal) !important;
}
.brand-link .brand-image {
    margin-top: -8px !important;
    max-height: 44px !important;
}
.icheck-success>input:first-child:checked+input[type=hidden]+label::before, .icheck-success>input:first-child:checked+label::before {
    background-color: var(--fondo_principal) !important;
    border-color: var(--fondo_principal) !important;
    border-radius: .2rem !important;
}
[class*=icheck-]>input:first-child+input[type=hidden]+label::before, [class*=icheck-]>input:first-child+label::before{
    border-radius: .2rem !important;
}
/*--------------------------*/






/*
.subtitulo-detalle{
    color: gray;
}
.cabecera-detalle{
    background:lightgray;
}
.text-area-custom{
    width: 100%; 
    height: 200px !important; 
    font-size: 14px; 
    line-height: 18px; 
    border: 1px solid #dddddd; 
    
}
.div-requerimiento .card-comments .comment-text{
    margin-left: 0px !important; 
}
.div-requerimiento .user-block .description, .user-block .username{
    margin-left: 0px !important; 
    font-size: 21px !important; 
}
.div-requerimiento .td-detalle{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.div-requerimiento .user-block .description {
    font-size: 15px !important; 
}
.div-requerimiento .subtitulo-cliente{
    font-size: 19px !important; 
}
.div-requerimiento .estados{
    border-radius: 20px;
    padding: 0px 8px 2px 8px;
    color: white;
    font-weight: bold;
}
.div-requerimiento .estados.ingresado{
    background: #28a745;
}
.div-requerimiento .estados.pendiente{
    background: #17a2b8;
}
.div-requerimiento .estados.cerrado{
    background: #ffc107;
}
.div-requerimiento .card-comments .card-comment img{
    height: auto !important;
}
.card-comment img{
    max-width: 100% !important;
}


*/



.bootstrap-select.form-control-sm .dropdown-toggle {
    border: 1px solid #ced4da !important;
}
.bootstrap-select.form-control .dropdown-toggle {
    border: 1px solid #ced4da !important;
}
.badge-52 {
    color: #fff;
    background-color: #28a745;
}
.badge-51 {
    color: #fff;
    background-color: #17a2b8 !important;
}
.badge-52 {
    color: #fff;
    background-color: #ffc107 !important;
}
.badge-50 {
    color: #fff;
    background-color: #28a745 !important;
}
.badge{
    font-size: 100% !important;
}
.user-block .comment, .user-block .description, .user-block .username {
    display: block;
    margin-left: 8px !important;
}
.status_show{
    cursor: pointer;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: rgb(18, 146, 73) !important;
    color:#ffffff  !important;
}
.dropdown-footer:focus, .dropdown-footer:hover{
    background-color: rgb(18, 146, 73) !important;
    color:#ffffff  !important;
}
.lb-ipt{
    font-size: 14px;
}

.page-link{
    cursor: pointer;
}
.paginate_button .page-link{
    color: var(--fondo_principal); 
}


.icon-user-nav{
    padding-top: 10px;
    margin-right: 12px;
}
/*
@media only screen and (max-width: 767px) {
    .layout-navbar-fixed.layout-fixed .wrapper .sidebar {

        margin-top: calc(8.5rem + 11px) !important
    }
}*/
.brand-link .brand-image{
    margin-left: 0.3rem !important;
}

/* SWEETALERT CUSTOM */
.swal2-styled.swal2-confirm{
    background-color: var(--fondo_principal) !important;
    border-left-color: var(--fondo_principal) !important;
    border-right-color: var(--fondo_principal) !important;
}
.swal2-styled.swal2-confirm:focus{
    box-shadow: none !important;
}
.swal2-icon.swal2-error{
    border-color: var(--error_color) !important;
}
.swal2-icon.swal2-error [class^=swal2-x-mark-line]{
    background-color: var(--error_color) !important;
}
.swal2-icon.swal2-warning{
    border-color: var(--fondo_principal) !important;
    color: var(--fondo_principal) !important;
}
.swal2-title {
    font-size: 1.25rem !important;
}
.swal2-icon.swal2-success{
    border-color: var(--fondo_principal) !important;
}
.swal2-success-circular-line-left{
    background-color: transparent !important;
}
.swal2-icon.swal2-success .swal2-success-fix{
    background-color: transparent !important;
}
.swal2-icon.swal2-success.swal2-icon-show .swal2-success-circular-line-right{
    background-color: transparent !important;
}
.swal2-success-line-tip{
    background-color: var(--fondo_principal) !important;
}
.swal2-success-line-long{
    background-color: var(--fondo_principal) !important;
}
/*--------------------------------------------*/
